---
# Include variables and define needed variables.
- name: Include OS-specific variables.
  include_vars: "{{ ansible_os_family }}.yml"

- name: Define htpasswd_required_packages.
  set_fact:
    htpasswd_required_packages: "{{ __htpasswd_required_packages | list }}"
  when: htpasswd_required_packages is not defined

- name: Ensure the htpasswd packages are installed.
  package:
    name: "{{ htpasswd_required_packages }}"
    state: present

- name: Ensure htpasswd credentials are configured.
  htpasswd:
    path: "{{ item.path }}"
    name: "{{ item.name }}"
    password: "{{ item.password }}"
    owner: "{{ item.owner }}"
    group: "{{ item.group }}"
    mode: "{{ item.mode | default('u+rw,g+r') }}"
  with_items: "{{ htpasswd_credentials }}"
  no_log: "{{ htpasswd_nolog }}"
